version: '3.1'
services:
  mongo:
    restart: always
    image: mongo:6.0.13-jammy
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE
      - MONGO_API_USER
      - MONGO_API_PWD
    volumes:
      - mongo_database_practica:/data/db
      - ./mongo/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
  
  api:
    build: api_rest/.
    depends_on:
      - mongo
    ports:
      - "${API_PORT}:8000"
    environment:
      - API_URL
      - API_PORT

volumes:
  mongo_database_practica: